main {
  min-height: 80vh;
}
* {
  margin: 0;
  padding: 0;
}

.product-img {
  transition: 1s ease-in-out;
  box-sizing: border-box;
}

.product-img:hover {
  transform: scale(1.08);
}

.btn-midium {
  background-color: aliceblue;
  margin-left: 5px;
  padding: 10px 15px;
}

.btn-blue {
  margin-left: 5px;
  padding: 10px 15px;
}

.header-logo {
  font-size: 30px;
  font-weight: bolder;
}
